<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCTfBTIhW9YX0HH0gLKCBCLAnw7oFLLYJY</string>
	<key>GCM_SENDER_ID</key>
	<string>731472966238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.medica</string>
	<key>PROJECT_ID</key>
	<string>medica-mini-project</string>
	<key>STORAGE_BUCKET</key>
	<string>medica-mini-project.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:731472966238:ios:52ac8343a13f22a5ce7acf</string>
</dict>
</plist>